{% extends 'form.html' %}
{% load static %}
{% block assets_form %}
    <script src="{% static 'user/js/update_password.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="." enctype="multipart/form-data" id="frmForm" data-url="{{ list_url }}" autocomplete="off">
        <div class="card {{ dashboard.card }}">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    <input type="hidden" name="action" id="action" value="{{ action }}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <label class="form-label fw-bold">{{ form.old_password.label }}:</label>
                        <div class="input-group">
                            {{ form.old_password }}
                            <button class="btn btn-secondary btnShowPassword" type="button">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="form-label fw-bold">{{ form.new_password1.label }}:</label>
                        <div class="input-group">
                            {{ form.new_password1 }}
                            <button class="btn btn-secondary btnShowPassword" type="button">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="form-label fw-bold">{{ form.new_password2.label }}:</label>
                        <div class="input-group">
                            {{ form.new_password2 }}
                            <button class="btn btn-secondary btnShowPassword" type="button">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Editar Contraseña
                </button>
                <a href="{{ list_url }}" class="btn btn-danger">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}