.author {
    text-decoration: none !important;
}

.img-sm {
    max-width: 30px;
    margin-right: 10px;
}

.table thead tr {
    background-color: #e6e4e4 !important;
    color: #000000 !important;
}

.table thead th {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

.form-control-checkbox {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.btn {
    border-radius: 0 !important;
}

.dropdown-menu-lg {
    max-width: 300px;
    min-width: 280px;
    padding: 0;
    font-size: 0.90rem;
}

.dropdown-menu-lg .dropdown-item {
    cursor: pointer;
}

.breadcrumb {
    background-color: #f7f7f7;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid #dbd7d7;
}

.breadcrumb a {
    color: #212529 !important;
}

.loading {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 36%;
    width: 100%;
}