{% extends 'login/base.html' %}

{% block content_main %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <form method="post" id="frmForm" autocomplete="off" data-url="{{ list_url }}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <i class="{{ dashboard.icon }} fa-4x mb-3"></i>
                    <h1 class="h3 mb-3 fw-normal">Actualización de Contraseña</h1>
                    <div class="input-group mb-3">
                        <div class="form-floating flex-grow-1">
                            {{ form.password }}
                            <label for="{{ form.password.name }}">{{ form.password.label }}</label>
                        </div>
                        <button class="input-group-text btn btn-secondary btnShowPassword" type="button">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating flex-grow-1">
                            {{ form.confirm_password }}
                            <label for="{{ form.confirm_password.name }}">{{ form.confirm_password.label }}</label>
                        </div>
                        <button class="input-group-text btn btn-secondary btnShowPassword" type="button">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
                        <i class="fas fa-sign-in-alt"></i> Actualizar Contraseña
                    </button>
                    <p class="p-3 h6 details">Si desea retornar <i class="fas fa-home"></i> puedes dar <a href="{% url 'login' %}">click</a> en el siguiente enlace.</p>
                    <p class="mt-5 mb-3 text-muted">© 2023–2024</p>
                </form>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $(function () {
            $('.btnShowPassword').on('click', function () {
                var i = $(this).find('i');
                var input = $(this).closest('.input-group').find('input');
                if (i.hasClass('fa fa-eye-slash')) {
                    i.removeClass();
                    i.addClass('fa fa-eye');
                    input.attr('type', 'password');
                } else {
                    i.removeClass();
                    i.addClass('fa fa-eye-slash');
                    input.attr('type', 'text');
                }
            });

            $('form').on('submit', function (e) {
                e.preventDefault();
                var form = $(this)[0];
                var args = {
                    'params': new FormData(form),
                    'success': function (request) {
                        alert_sweetalert({
                            'message': 'Se ha actualizado correctamente la contraseña de tu cuenta. Ya puedes iniciar sesión.',
                            'timer': 2500,
                            'callback': function () {
                                location.href = $(form).attr('data-url');
                            }
                        });
                    }
                };
                submit_with_formdata(args);
            });
        });
    </script>
{% endblock %}